h1{
font-family: 'Oswald', 'SansSerif';
text-align: center;
}
h2{
  font-family: 'Oswald', 'SansSerif';
}
body{
  font-family: 'Open Sans', 'SansSerif';
  color: white;
  margin:10px 50px 10px 50px;
  background-color: black;
}