h1{
font-family: 'Oswald', 'sansserif';
}
h2{
  font-family: 'Oswald', 'sansserif';
}
body{
  font-family: 'Open Sans', 'SansSerif';
  color: darkblue;
  margin:10px 50px 10px 50px;
  background-color: ivory;
}
img{
  float: left;
  margin-right: 10px;
}